body {
  margin: 5em 5em;
  font-family: "Lucida Grande", Arial, Serif;
}

.flow {
    display: flex;
}

.flow .title {
  height: 120px;
  width: 150px;
  border-style: solid;
}

.flow .inputs {
  height: auto;
  width: 150px;
  border-style: solid;
}

.flow .story {
  height: auto;
  width: 150px;
  border-style: solid;
}

.flow .stretch {
    flex: 1;
}

.smiley {
  width: 10em;
  background: url("../images/mad-lib-happy-face.png") center no-repeat;
  background-size: 80%;
  border-style: solid;
}

.title-image {
  height: 3em;
  background: url("../images/ng-mad-libs-logo.png") center no-repeat;
  background-size: 35%;
}

.title-heading {
  font-size: 32px;
  text-align: center;
  margin: 10px auto;
}

.inputs {
  padding: 1em 3em;

}

.inputs.ng-hide-remove,
.inputs.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  transition: 3s all ease-out;
  transition-delay : 1s;
}

.inputs.ng-hide-remove.ng-hide-remove-active,
.inputs.ng-hide-add {
  opacity: 1;
  transition: 0s all ease-out;

}

.inputs h1 {
  font-size: 28px;
}

input {
  margin: 0.5em;
  border: 1.5px solid black;
}

.story {
  padding: 2em 4em;
}

.rotator {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.rotator.ng-hide-remove.ng-hide-remove-active,
.rotator.ng-hide-add {
  transition: all 3s ease-in-out;
  transform: rotate(-360deg);
}

.rotator.ng-hide-add.ng-hide-add-active,
.story.ng-hide-remove,
.story.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  transition: 0s all linear;
}

.story.ng-hide-remove.ng-hide-remove-active,
.story.ng-hide-add {
  opacity: 1;
  transition: 3s all linear;
  transition-delay: 4s;
}

.story p {
  font-size: 18px;
}

.error {
  color: red;
  font-weight: bold;
}

button, input[type="submit"] {
  float: right;
  height: 2em;
  width: 12em;
  background-color: #989898;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    background: black;
    margin-top: 2em;
}

@media (max-width: 700px) {
  .inputs h1 {
    font-size: 18px;
  }
  .title-heading {
    font-size: 24px;
  }
}


