<!DOCTYPE html>
<html lang="en" ng-app="madLibs">
<head>
  <meta charset="UTF-8">
  <title>Mad Lib</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script src="./js/madLibs.js"></script>
</head>
<body>
  <header class="flow">
    <div class="title smiley"></div>
    <div class="title title stretch">
      <div class="title-image"></div>
      <div class="title-heading">Automate This!</div>
    </div>
  </header>
  <section ng-controller="inputCtrl">
    <section class="flow">
      <div class="inputs stretch" ng-show="showInputs">
        <form name="myForm" ng-submit="submit()" novalidate>
        <h1>Provide the following words:</h1>
        <input type="text" ng-model="relative1" placeholder="{{relativetext}}" required/>
        <input type="text" ng-model="adjective1"placeholder="{{adjtext}}" required/>
        <input type="text" ng-model="adjective2" placeholder="{{adjtext}}" required/>
        <input type="text" ng-model="adjective3" placeholder="{{adjtext}}" required/>
        <input type="text" ng-model="person1" placeholder="{{persontext}}" size="26" required/>
        <input type="text" ng-model="adjective4" placeholder="{{adjtext}}" required/>
        <input type="text" ng-model="adjective5" placeholder="{{adjtext}}" required/>
        <input type="text" ng-model="verbed" placeholder="{{verbedtext}}" required/>
        <input type="text" ng-model="body" placeholder="{{bodytext}}" required/>
        <input type="text" ng-model="verbing" placeholder="{{verbingtext}}" size="20" required/>
        <input type="text" ng-model="nounpl" placeholder="{{nounpltext}}" required/>
        <input type="text" ng-model="noun" placeholder="{{nountext}}" required/>
        <input type="text" ng-model="adverb" placeholder="{{adverbtext}}" required/>
        <input type="text" ng-model="verb1" placeholder="{{verbtext}}" required/>
        <input type="text" ng-model="verb2" placeholder="{{verbtext}}" required/>
        <input type="number" name="hugenumber" ng-model="hugenumber" placeholder="{{hugenumtext}}" ng-min="hugeMin"  required/>
        <input type="text" ng-model="relative2" placeholder="{{relativetext}}" required/>
        <input type="text" ng-model="person2" placeholder="{{persontext}}" size="26" required/>
        <hr size="4" noshade>
        <span class="error" ng-model="errorMsg">{{ errorMsg }}</span>
        <input type="submit" value="Generate My MadLib" style="float:right">
      </form>
      </div>
    </section>
    <section class="flow">
      <div class="story stretch" ng-show="showStory">
        <p> Dear {{ answers[0] }},<br>
          I am having a(n) {{ answers[1] }} time at camp. The counselor is {{ answers[2] }} and the food is {{ answers[3] }}. I met {{ answers[4] }} and we became {{ answers[5] }} friends. Unfortunately, {{ answers[6] }} is {{ answers[7] }} and I {{ answers[8] }} my {{ answers[9] }} so we couldn`t go {{ answers[10] }} like everybody else. I need more {{ answers[11] }} and a {{ answers[12] }} sharpener, so please {{ answers[13] }} {{ answers[14] }} more when you {{ answers[15] }} back. I miss you so much, it feels like {{ answers[16] }} days until I will be home!!! :)<br>
          Your {{ answers[17] }},<br>
          {{ answers[18] }}
        </p>
        <button ng-click="startOver()">
          Start Over
        </button>
      </div>
    </section>
  </section>

</body>
</html>
