body {
  font-family: "Lucida Grande", Arial, Serif;
}

.masthead, .smiley, .title {
  height:10em;
}

.masthead {
  width: 70%;
  margin: 0 auto;
}

.smiley, .title, .inputs {
  border-style: solid;
  display: inline-block;
}

.smiley {
  width: 10em;
  background: url("../images/mad-lib-happy-face.png") center no-repeat;
  background-size: 80%;
}

.title {
  width: 35em;
  overflow:auto;
  text-align: center;
}

.title p {
  font-size: 32px;
  margin-top: 0.5em;
}

.title-image {
  height: 5em;
  background: url("../images/ng-mad-libs-logo.png") center no-repeat;
  background-size: 70%;
  //margin-top: -1em;
}

.title-heading {
  height: 5em;
}

.inputs {
  width: 70%;
  height: 30em;
  margin: 0 auto;
}
